*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
}
body{
    background-color: #E8DCDC;
}
/* navbar design */
.navbar{
    height: 77px;
    width: 100%;
    background-color: #875A7B;
    display: flex;
    align-items: center;
    color: white;
    font-size: 30px;
    font-weight: 500;
    padding: 0px 15px;
}
.navbar img{
    margin-top: 40px;
    height: 100px;
    width: 100px;
    border-radius: 50%;    
}
.box{
    width: 397px;
    background-color: white;
    border-radius: 5px;
    padding: 7.5px;
   
}
.logo{
    display: flex;
}
.logo img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: inline;
    margin: auto;
}
@media(min-width:768px){
  
    /* main design */
    .container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh);
    }
   
    .box h2{
        font-family: "Segoe UI",Arial,sans-serif;
        margin: 10px 0px;
        font-size: 30px;
        font-weight: 400;
        text-align: center;
    }
    .box h3{
        text-align: center;
        font-weight: bolder;
        font-size: 25px;
        margin: 10px 0px;
        color: rgba(33, 37, 41, 0.4);
    }
    .box p{
        
        font-size: 18px;
        margin: 0px;
        color: #F44336;
        font-weight: bold;
    }
    .lower{
        
        padding: 0px 41px;
    }
    .lower input{
        height: 32px;
        width: 100%;
        padding: 5px 10px;
        margin:10px 0px ;
        border-radius: 4px;
        outline: none;
        border: 1px solid #ced4da;
    }
    .lower button{
        width: 100%;
        height: 50px;
        text-align: center;
        background-color: #875A7B;
        color: white;
        padding: 15px 0px;
        margin: 5px 0px;  
        border-radius: 4px;
    }
    .lower a{
        color: #212529;
        text-decoration: none;
    }
    a:hover{
        color: #00A09D;
        text-decoration: underline;
    }
}
@media(max-width:767px){

    .container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 57px);
    }
    .box{
        width: 397px;
        background-color: white;
        border-radius: 5px;
       
       
    }
    .box h2{
        font-family: "Segoe UI",Arial,sans-serif;
        margin: 8px 0px;
        font-size: 20px;
        font-weight: 400;
        text-align: center;
    }
    .box h3{
        text-align: center;
        font-weight: bolder;
        font-size: 15px;
        margin: 10px 0px;
        color: rgba(33, 37, 41, 0.4);
    }
    .box p{
        
        font-size: 12px;
        margin: 0px;
        color: #F44336;
        font-weight: bold;
    }
    .lower{
        
        padding: 0px 11px;
    }
    .lower input{
        height: 32px;
        width: 100%;
        padding: 5px 10px;
        margin:10px 0px ;
        border-radius: 4px;
        outline: none;
        border: 1px solid #ced4da;
    }
    .lower button{
        width: 100%;
        height: 50px;
        text-align: center;
        background-color: #875A7B;
        color: white;
        padding: 15px 0px;
        margin: 5px 0px;  
        border-radius: 4px;
    }
    .lower a{
        color: #212529;
        text-decoration: none;
    }
    a:hover{
        color: #00A09D;
        text-decoration: underline;
    }
}